/* MEYER RESET BEGIN */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* MEYER RESET END */

@font-face {
    font-family: Actor;
    src: url(fonts/Actor-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #252526;
    color: white;
    font-size: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Actor, sans-serif;
}

h1 {
    font-size: 64px;
    height: 70px;
    margin-top: 60px;
    margin-bottom: 100px;
}

h2 {
    margin-top: 20px;
    font-size: 35px;
}

.content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 180px);
    grid-template-rows: repeat(auto-fit, 250px);
    gap: 30px;
}

.bookcard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    padding-left: 30px;
    text-align: left;
    height: 250px;
    width: 180px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 500;

    /* Shadow */
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0);
    -webkit-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0);
    -moz-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0);
}

label {
    font-size: 25px;
}

input[type="text"],
input[type="number"],
input[type="button"],
input[type="submit"] {
    background-color: white;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    color: black;
    font-size: 20px;
    height: 30px;
    padding-left: 5px;

    /* Shadow */
}

input[type="number"] {
    width: 125px;
    padding-right: 10px;
}

input[type="button"] {
    background-color: #ff846e;
    color: black;
}

input[type="submit"] {
    background-color: #9be7f1;
    color: black;
}

input[type="color"] {
    width: auto;
    height: 30px;
    background-color: white;
    border-color: black;
    border-width: 2px;

    border-radius: 10px;
    cursor: pointer;
}

.input_div {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.input_div_2 {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 53px;
}

.addbook_form {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.addbook {
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0);
    -webkit-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0);
    -moz-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0);
}

footer {
    background-color: #1d1c1c;
    font-size: 24px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
